/*======================================
  Main structure
======================================*/

body {
  // background: url(../images/bg.png) top center no-repeat;
}

// header
header {
  background-color: $color-black;
  .container {
    position: relative;
  }
  .bar {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    padding: 12px 0;
    color: $color-orange;
    text-align: center;
  }
  .grid {
    @include columns( $quant: 168px 728px auto, $gutter: 98px, $align: center, $template: 'logo search icons');
    padding: 34px 0 35px 0;
    .icon {
      fill: transparent;
      stroke: $color-white;
      &.fill {
        fill: $color-white;
        stroke: none;
        &:hover {
          fill: $color-orange;
        }
      }
      &:hover {
        stroke: $color-orange;
      }
    }
    .logo {}
    .search {
      .search-box {
        @include columns( $quant: auto 50px, $gutter: 10px, $align: center, $template: '');
        width: 100%;
        height: 46px;
        border: 1px solid #303030;
        border-radius: 6px;
        input {
          width: 100%;
          height: 100%;
          background: transparent;
          border: none;
          outline: none;
          font-family: $font-main;
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 17px;
          color: $color-white;
          padding: 0 0 2px 16px;
          &::-webkit-input-placeholder {
            color: $color-white;
          }
          &::-moz-placeholder {
            color: $color-white;
          }
          &:-ms-input-placeholder {
            color: $color-white;
          }
          &:-moz-placeholder {
            color: $color-white;
          }
        }
        button {
          width: 100%;
          height: 100%;
          background: transparent;
          border: none;
          outline: none;
          padding: 2px 0px 0 2px;
          .icon {
            width: 16px;
            height: 16px;
          }
        }
      }
    }
    .icons {
      display: flex;
      justify-content: space-between;
      padding: 2px 8px 0 0;
      align-items: center;
      .user {
        width: 20px;
        height: 20px;
      }
      .wishlist {
        width: 23px;
        height: 21px;
      }
      .cart {
        width: 21.22px;
        height: 21.78px;
      }
      a {
        position: relative;
        .item-cart {
          width: 16px;
          height: 16px;
          border-radius: 50%;
          background-color: $color-orange;
          font-style: normal;
          font-weight: 700;
          font-size: 11px;
          line-height: 131.1%;
          color: $color-black;
          position: absolute;
          top: -4px;
          right: -8px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
  .grid-menu {
    @include columns( $quant: 278px auto, $gutter: 0, $align: center, $template: '');
    padding: 16px 105px 17px 122px;
    .categories {
      .browse-categories {
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        color: $color-white;
        display: flex;
        align-items: center;
        .icon {
          width: 20px;
          height: 16px;
          margin: 0 9px 0 0;
          position: relative;
          &::after {
            @include animate($time: 0.3s);
            content: '';
            width: 20px;
            height: 2px;
            background-color: $color-white;
            position: absolute;
            top: 0;
            left: 0;
          }
          &::before {
            @include animate($time: 0.3s);
            content: '';
            width: 20px;
            height: 2px;
            background-color: $color-white;
            position: absolute;
            bottom: 0;
            left: 0;
          }
          span {
            @include animate($time: 0.3s);
            width: 20px;
            height: 2px;
            background-color: $color-white;
            position: absolute;
            top: 7px;
            left: 0;
          }
        }
        &:hover {
          color: $color-orange;
          .icon {
            &::after,
            &::before,
            span {
              background-color: $color-orange;
            }
          }
        }
        &.act {
          color: $color-orange;
          .icon {
            &::after,
            &::before,
            span {
              background-color: $color-orange;
            }
            &::after {
              transform: rotate(45deg) translate(4px, 5px);
            }
            &::before {
              transform: rotate(-45deg) translate(5px, -6px);
            }
            span {
              width: 0;
            }
          }
        }
      }
    }
    nav {
      ul {
        display: flex;
        justify-content: space-around;
        li {
          a {
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            line-height: 17px;
            color: $color-white;
            text-transform: uppercase;
            &:hover {
              color: $color-orange;
            }
          }
        }
      }
    }
  }
  .mega-menu {
    @include animate($time: 0.3s);
    width: 1204px;
    height: 570px;
    padding: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 100;
    transform: translate(-50%, 0);
    background: $color-white;
    box-shadow: 0px 4px 10px 6px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    visibility: hidden;
    opacity: 0;
    &::before {
      @include animate($time: 0.3s, $delay: 0.2s);
      content: '';
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 8px 10px 8px;
      border-color: transparent transparent #ffffff transparent;
      position: absolute;
      top: -0px;
      left: 111px;
    }
    .grid-mega-menu {
      @include columns( $quant: 162px auto, $gutter: 30px, $align: stretch, $template: '');
      .item {
        &.border {
          border-right: 1px solid red;
        }
        h4 {
          font-style: normal;
          font-weight: 800;
          font-size: 18px;
          line-height: 22px;
          color: #C41818;
          padding: 6px 0 0 0;
        }
        ul {
          padding: 31px 10px 0 10px;
          li {
            padding: 16px 0;
            a {
              font-style: normal;
              font-weight: 700;
              font-size: 16px;
              line-height: 19px;
              color: #2D2D2D;
            }
          }
        }
        .grid-item {
          width: 100%;
          height: 100%;
          border-radius: 8px;
          overflow: hidden;
          @include columns( $quant: auto 200px, $gutter: 12px, $align: stretch, $template: '');
          .item {
            .image {
              width: 100%;
              height: 100%;
              min-height: 510px;
              background-color: red;
            }
            .box {
              background-color: $color-black;
              width: 100%;
              height: 100%;
              display: flex;
              align-items: center;
              text-align: center;
              justify-content: center;
              flex-direction: column;
              padding: 25px;
              h3 {
                font-style: normal;
                font-weight: 700;
                font-size: 28px;
                line-height: 121%;
                color: $color-white;
                padding-bottom: 32px;
              }
              p {
                font-style: normal;
                font-weight: 700;
                font-size: 14px;
                line-height: 129%;
                text-align: center;
                color: $color-white;
                padding-bottom: 24px;
              }
              a {
                border: 2px solid $color-white;
                width: 130px;
                height: 48px;
                background: $color-white;
                border-radius: 49px;
                font-style: normal;
                font-weight: 800;
                font-size: 20px;
                line-height: 24px;
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                color: $color-black;
                @include animate($time: 0.3s);
                &:hover {
                  background: $color-black;
                  color: $color-white;
                }
              }
            }
          }
        }
      }
    }
    &.act {
      top: 100%;
      visibility: visible;
      opacity: 1;
      &::before {
        top: -7px;
      }
    }
  }
}

@include breakpoint2($min:xl, $max:'') {}

@include breakpoint2($min:lg, $max:xl) {}

@include breakpoint2($min:md, $max:lg) {}

@include breakpoint2($min:sm, $max:md) {}

@include breakpoint2($min:xs, $max:sm) {}

@include breakpoint2($min:'', $max:xs) {}

// end header
// main
main {}

@include breakpoint2($min:xl, $max:'') {}

@include breakpoint2($min:lg, $max:xl) {}

@include breakpoint2($min:md, $max:lg) {}

@include breakpoint2($min:sm, $max:md) {}

@include breakpoint2($min:xs, $max:sm) {}

@include breakpoint2($min:'', $max:xs) {}

// end main
// footer
footer {
  background-color: $color-white;
  .grid {
    padding: 104px 0 65px 32px;
    @include columns( $quant: 41.8% 15% 15% 18.8% 9.4%, $gutter: 0, $align: start, $template: '');
    .item {
      h5 {
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        color: $color-black;
        padding: 0 0 18px 0;
      }
      .logo {}
      .social-media {
        display: flex;
        gap: 16px;
        padding: 40px 0 0 0;
        li {
          a {
            width: 32px;
            height: 32px;
            display: block;
            background: $color-dark-orange;
            border-radius: 4px;
            display: flex;
            align-items: center;
            justify-content: center;
            .icon {
              fill: transparent;
              stroke: none;
              &.fill {
                fill: $color-white;
              }
              &.instagram {
                width: 14px;
                height: 14px;
              }
              &.pinterest {
                width: 16px;
                height: 16px;
              }
              &.twitter {
                width: 18px;
                height: 14px;
              }
            }
          }
        }
      }
      .payment-methods {
        padding: 80px 0 0 0;
        h5 {
          padding: 0 0 16px 0;
        }
        ul {
          display: flex;
          gap: 6px;
          li {
            a {
              display: block;
              width: 40px;
            }
          }
        }
      }
      nav {
        ul {
          li {
            padding-bottom: 18px;
            a {
              font-style: normal;
              font-weight: 700;
              font-size: 14px;
              line-height: 17px;
              color: #2D2D2D;
              &:hover {
                color: $color-orange;
              }
            }
          }
        }
      }
    }
  }
  .hr {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 0 0 1px;
    position: relative;
    &::before {
      content: '';
      height: 1px;
      background-color: #E0E0E0;
      position: absolute;
      left: 32px;
      right: 32px;
    }
    .icons {
      border: 10px solid $color-white;
      padding: 1px 0 0 0;
      width: 43px;
      height: 43px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $color-dark-orange;
      border-radius: 50%;
      position: relative;
      .icon {
        width: 5px;
        height: 9px;
        transform: rotate(90deg);
        fill: $color-white;
      }
    }
  }
  .flex {
    padding: 25px 32px 48px 34px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    p {
      font-style: normal;
      font-weight: 700;
      font-size: 12px;
      line-height: 14px;
      color: $color-black;
      b {
        font-weight: 900;
      }
    }
    a {
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      line-height: 17px;
      color: #2D2D2D;
      &:hover {
        color: $color-orange;
      }
    }
  }
}

@include breakpoint2($min:xl, $max:'') {}

@include breakpoint2($min:lg, $max:xl) {}

@include breakpoint2($min:md, $max:lg) {}

@include breakpoint2($min:sm, $max:md) {}

@include breakpoint2($min:xs, $max:sm) {}

@include breakpoint2($min:'', $max:xs) {}

// end footer