/*======================================
  Product
======================================*/

.products-list {
  position: relative;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    background: #F5F5F5;
  }
  .grid {
    position: relative;
    background: #F5F5F5;
    @include columns( $quant: 336px 1fr, $gutter: 32px, $align: stretch, $template: '');
    .sidebar {
      background: $color-white;
      width: 100%;
      padding: 39px 32px 0 0;
      h2 {
        font-style: normal;
        font-weight: 700;
        font-size: 28px;
        line-height: 34px;
        color: #2D2D2D;
        padding-bottom: 41px;
        .icon {
          margin-right: 7px;
          width: 23px;
          height: 18px;
          fill: $color-orange;
        }
      }
      .filters-lists {
        border-top: 1px solid #E0E0E0;
        h3 {
          font-style: normal;
          font-weight: 700;
          font-size: 16px;
          line-height: 19px;
          color: #2D2D2D;
          padding: 16px 0;
          border-bottom: 1px solid #E0E0E0;
        }
        ul {
          margin: 16px 0 11px 0;
          max-height: 304px;
          overflow: auto;
          &.mb-14 {
            margin-bottom: 14px;
          }
          &::-webkit-scrollbar {
            width: 4px;
          }
          &::-webkit-scrollbar-track {
            background: rgba(254, 111, 0, 0.5);
            border-radius: 20px;
          }
          &::-webkit-scrollbar-thumb {
            background-color: $color-orange;
            border-radius: 20px;
          }
          li {
            padding: 0 0 13px 0;
            input[type=checkbox] {
              display: none;
            }
            label {
              font-style: normal;
              font-weight: 400;
              font-size: 16px;
              line-height: 19px;
              color: #2D2D2D;
              display: flex;
              align-items: center;
              position: relative;
              &::before {
                display: inline-block;
                content: '';
                width: 12px;
                height: 12px;
                border: 1px solid #2D2D2D;
                border-radius: 3px;
                background-color: $color-white;
                margin-right: 12px;
              }
              &::after {
                content: '';
                width: 12px;
                height: 12px;
                position: absolute;
                top: 4px;
                left: 0;
                background: url(../img/check.svg) center center no-repeat;
              }
            }
            input:checked+label {
              &::before {
                border: 1px solid $color-orange;
                background-color: $color-orange;
              }
            }
            &:last-child {
              padding: 0;
            }
          }
        }
        .range-val {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 20px 0 27px 0;
          span {
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            color: #2D2D2D;
          }
        }
        #price-range {
          border: none;
          background-color: rgba(254, 111, 0, 0.5);
          height: 5px;
          &.ui-widget.ui-widget-content {}
          .ui-state-default,
          .ui-widget-content .ui-state-default {
            width: 25px;
            height: 25px;
            border-radius: 50px;
            top: -10px;
            border: 3px solid $color-white;
            background-color: $color-orange;
          }
          &.ui-slider-horizontal .ui-slider-range {
            background-color: $color-orange;
          }
        }
      }
    }
    .list {
      width: 100%;
      .type-view {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 41px 0 40px 0;
        margin-bottom: 24px;
        border-bottom: 1px solid #E0E0E0;
        p {
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 17px;
          color: #656565;
        }
        .view {
          display: flex;
          gap: 16px;
          padding: 0 0 0 1px;
          span {
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            color: #656565;
            padding: 0 1px 0 0;
          }
          .grid-select {
            .icon {
              width: 100%;
              height: 100%;
              fill: #656565;
            }
            &.act {
              .icon {
                fill: $color-orange;
              }
            }
          }
          .icon-3x3 {
            width: 28px;
            height: 18px;
          }
          .icon-4x4 {
            width: 38px;
            height: 18px;
          }
        }
        select {
          border-radius: 4px;
          width: 159px;
          height: 33px;
          background: #F5F5F5;
          border: 1px solid #C2C2C2;
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 17px;
          color: #2D2D2D;
          padding: 0 10px;
        }
      }
      .filter-itens {
        font-size: 0;
        margin: -8px -8px 30px -8px;
        a {
          background: #2D2D2D;
          border-radius: 8px;
          font-style: normal;
          font-weight: 700;
          font-size: 12px;
          line-height: 14px;
          color: #FFFFFF;
          padding: 7px 10px 7px 10px;
          display: inline-flex;
          align-items: center;
          gap: 8px;
          margin: 8px;
          .icon {
            fill: #FFFFFF;
            width: 9px;
            height: 9px;
          }
          &.clear {
            background-color: #C41818;
            .icon {
              fill: transparent;
              stroke: #fff;
              width: 10px;
              height: 12px;
            }
          }
        }
      }
      .grid-prod {
        @include animate($time: 0.3s);
        @include columns( $quant: 1fr 1fr 1fr, $gutter: 16px, $align: stretch, $template: '');
        &.small {
          @include columns( $quant: 1fr 1fr 1fr 1fr, $gutter: 16px, $align: stretch, $template: '');
        }
      }
    }
  }
}

.product {
  background: #F5F5F5;
  .bg-box {
    padding: 50px 0 80px 0;
    background-color: $color-black;
    .box {
      width: 100%;
      background: #FFFFFF;
      border-radius: 12px;
      padding: 30px;
      .grid {
        position: relative;
        padding: 30px 0 0 0;
        @include columns( $quant: 0.98fr 1fr, $gutter: 30px, $align: start, $template: '');
        .images {
          width: 100%;
          height: 628px;
          @include columns( $quant: 80px 1fr, $gutter: 12px, $align: stretch, $template: '');
          .list {
            width: 100%;
            height: 100%;
            overflow: hidden;
            border-radius: 8px;
            .slick-list {
              margin: -6px 0;
              // height: 100%;
            }
            .slick-slide {
              padding: 6px 0 4px 0;
              border: none;
              .item {
                width: 100%;
                height: 116px;
                border-radius: 8px;
                overflow: hidden;
                img {
                  object-fit: cover;
                  width: 100%;
                  height: 100%;
                }
              }
            }
            .slick-arrow {
              position: absolute;
              left: 0;
              z-index: 10;
              width: 100%;
              height: 20px;
              background: rgba(0, 0, 0, 0.8);
              border: none;
              &.slick-prev {
                top: 0;
                //border-radius: 8px 8px 0 0;
              }
              &.slick-next {
                bottom: 0;
                //border-radius: 0 0 8px 8px;
              }
            }
          }
          .image {
            width: 100%;
            height: 100%;
            border-radius: 8px;
            overflow: hidden;
            img {
              object-fit: cover;
              width: 100%;
              height: 100%;
              cursor: zoom-in;
            }
          }
        }
        .infos {
          h1 {
            font-style: normal;
            font-weight: 700;
            font-size: 28px;
            line-height: 121%;
            color: #2D2D2D;
            padding: 1px 25px 3px 0;
          }
          .estimated-availability {
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            color: #656565;
            display: flex;
            align-items: center;
            &:after {
              content: '!';
              width: 12px;
              height: 12px;
              border-radius: 50%;
              background: #C2C2C2;
              font-style: normal;
              font-weight: 700;
              font-size: 8px;
              line-height: 10px;
              display: flex;
              align-items: center;
              justify-content: center;
              color: #FFFFFF;
              margin: 0 0 -2px 9px;
            }
          }
          .div {
            width: 100%;
            height: 1px;
            background-color: #E0E0E0;
            margin: 24px 0;
          }
          .d-flex {
            display: flex;
            align-items: end;
            &.gap {
              gap: 16px;
            }
            .price {
              font-style: normal;
              font-weight: 400;
              font-size: 20px;
              line-height: 25px;
              color: #656565;
              display: inline;
              ins {
                font-weight: 700;
                font-size: 28px;
                line-height: 33.6px;
                color: #2D2D2D;
                text-decoration: none;
                display: block;
                padding: 4px 0 0 0;
              }
            }
            .discont {
              min-width: 55px;
              text-align: center;
              font-style: normal;
              font-weight: 900;
              font-size: 18px;
              line-height: 22px;
              color: $color-white;
              background: $color-dark-orange;
              border-radius: 2px;
              margin: 0 0 3px 10px;
              padding: 2px 6px;
            }
          }
          .grid-quant {
            @include columns( $quant: 130px 1fr, $gutter: 16px, $align: stretch, $template: '');
            padding: 32px 0 0 0;
          }
          .quant {
            width: 100%;
            height: 50px;
            background: #FFFFFF;
            border: 1px solid #C2C2C2;
            border-radius: 30px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            input {
              background: transparent;
              width: 40px;
              height: 48px;
              border: none;
              outline: none;
              font-family: 'Lato';
              font-style: normal;
              font-weight: 700;
              font-size: 20px;
              color: #2D2D2D;
              text-align: center;
            }
            .minus,
            .plus {
              width: 40px;
              height: 50px;
              display: flex;
              align-items: center;
              justify-content: center;
              &::before {
                display: block;
                content: '';
                position: absolute;
                width: 2px;
                height: 14px;
                background: #656565;
                border-radius: 2px;
                @include animate($time: 0.3s);
              }
              &::after {
                display: block;
                content: '';
                width: 14px;
                height: 2px;
                background: #656565;
                border-radius: 2px;
                @include animate($time: 0.3s);
              }
              &:hover {
                &::before,
                &::after {
                  background: $color-orange;
                }
              }
            }
            .minus {
              padding-left: 13px;
              &::before {
                display: none;
              }
            }
            .plus {
              padding-right: 11px;
            }
          }
          .button {
            width: 100%;
            height: 100%;
            background: #C41818;
            border-radius: 30px;
            font-family: 'Lato';
            font-style: normal;
            font-weight: 900;
            font-size: 20px;
            line-height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #FFFFFF;
            border: none;
            &.black {
              background: #151515;
            }
          }
          .last {
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 19px;
            color: #FE6F00;
            padding-top: 6px;
          }
          ul {
            li {
              font-style: normal;
              font-weight: 400;
              font-size: 16px;
              line-height: 19px;
              display: flex;
              align-items: center;
              color: #000000;
              padding-bottom: 24px;
              b {
                font-weight: 700;
                padding-right: 3px;
              }
              &:last-child {
                padding-bottom: 0;
              }
            }
          }
          .wishlist {
            position: absolute;
            top: 38px;
            right: 0;
            .icon {
              @include animate($time: 0.3s);
              width: 23px;
              height: 20px;
              stroke: $color-dark-orange;
              fill: transparent;
            }
            &:hover {
              .icon {
                fill: $color-dark-orange;
              }
            }
          }
        }
      }
    }
  }
  .overview {
    padding: 80px 0 0 0;
    h2 {
      font-style: normal;
      font-weight: 900;
      font-size: 30px;
      line-height: 36px;
      text-align: center;
      color: #2D2D2D;
      padding: 0 0 32px 0;
    }
    .boxs {
      .box {
        margin-top: 100px;
        @include columns( $quant: 500px 402px, $gutter: 139px, $align: center, $template: 'image text');
        padding: 50px 138px 50px 50px;
        background: #151515;
        border-radius: 12px;
        &:first-child {
          margin-top: 0;
        }
        &:nth-child(even) {
          @include columns( $quant: 402px 500px, $gutter: 139px, $align: center, $template: 'text image');
          padding: 50px 50px 50px 138px;
        }
        .image {
          grid-area: image;
          height: 500px;
          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }
        .text {
          grid-area: text;
          text-align: center;
          p {
            font-style: normal;
            font-weight: 700;
            font-size: 18px;
            line-height: 167%;
            color: #FFFFFF;
          }
        }
      }
    }
  }
}

.slide-prod-single {
  padding: 80px 0 70px 0;
  background: #F5F5F5;
  .title {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding: 0 38px 22px 38px;
    h2 {
      font-style: normal;
      font-weight: 900;
      font-size: 30px;
      line-height: 36px;
      color: #2D2D2D;
    }
  }
  .slide-prod {
    padding: 0 30px;
    .slick-slide {
      padding: 10px 8px;
    }
    .slick-arrow {
      position: absolute;
      top: 50%;
      transform: translate(0, -12px);
      border: none;
      background: transparent;
      padding: 0;
      z-index: 10;
      fill: $color-orange;
      .icon {
        width: 13px;
        height: 24px;
      }
      &.slick-prev {
        left: -0;
      }
      &.slick-next {
        right: -0;
      }
    }
  }
}

@include breakpoint2($min:xl, $max:'') {}

@include breakpoint2($min:lg, $max:xl) {}

@include breakpoint2($min:md, $max:lg) {}

@include breakpoint2($min:sm, $max:md) {}

@include breakpoint2($min:xs, $max:sm) {}

@include breakpoint2($min:'', $max:xs) {}