/*======================================
  Lists
======================================*/

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.item-prod {
  width: 100%;
  height: 554px;
  background: $color-white;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  @include animate($time: 0.3s);
  .image {
    width: 100%;
    height: 368px;
    border-radius: 12px 12px 0px 0px;
    background-color: red;
    position: relative;
    overflow: hidden;
    img {
      object-fit: fill;
      width: 100%;
      height: auto;
    }
    .tags {
      position: absolute;
      top: 0;
      left: 0;
      display: inline-flex;
      flex-direction: column;
      padding: 16px;
      .tag {
        min-width: 56px;
        height: 20px;
        border-radius: 4px;
        padding: 3px 6px;
        margin-bottom: 8px;
        color: $color-white;
        display: inline-block;
        font-style: normal;
        font-weight: 800;
        font-size: 12px;
        line-height: 14px;
        text-align: center;
        &.pre-order {
          background: #F45008;
        }
        &.in-stock {
          background: $color-dark-orange;
        }
        &.sale {
          background: $color-black;
          color: $color-dark-orange;
        }
        &.sold-out {
          background: #151515;
        }
      }
    }
    .wishlist {
      display: block;
      width: 23px;
      height: 20px;
      position: absolute;
      top: 16px;
      right: 16px;
      &:after {
        content: '';
        display: block;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        border-top: 1px solid red;
        border-left: 1px solid red;
        animation: spin 2s linear infinite;
        position: absolute;
        top: 0;
        right: 1px;
        opacity: 0;
      }
      .icon {
        width: 23px;
        height: 20px;
        fill: transparent;
        stroke: #656565;
        @include animate($time: 0.3s);
      }
      &.in-progress {
        &:after {
          opacity: 1;
        }
        .icon {
          opacity: 0;
        }
      }
      &:hover,
      &.act {
        .icon {
          fill: #E6383C;
          stroke: #E6383C;
        }
      }
    }
  }
  .content {
    height: 186px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 16px 20px 20px 20px;
    .d-flex {
      display: flex;
      align-items: end;
    }
    h3 {
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 125%;
      color: #2D2D2D;
      padding: 0 0 4px 0;
    }
    .tag {
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      color: #656565;
    }
    .price {
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      color: #656565;
      display: inline;
      ins {
        font-weight: 700;
        font-size: 22px;
        line-height: 26.4px;
        color: #2D2D2D;
        text-decoration: none;
        display: block;
        padding: 4px 0 0 0;
      }
    }
    .discont {
      min-width: 41.23px;
      text-align: center;
      font-style: normal;
      font-weight: 900;
      font-size: 15px;
      line-height: 18px;
      color: $color-white;
      background: $color-dark-orange;
      border-radius: 2px;
      margin: 0 0 3px 11px;
      padding: 1px 3px;
    }
  }
  &:hover {
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.35);
  }
}

.small {
  .item-prod {
    width: 100%;
    height: 424px;
    .image {
      width: 100%;
      height: 270px;
      .tags {
        padding: 12px;
      }
      .wishlist {
        width: 19px;
        height: 16px;
        top: 12px;
        right: 12px;
        .icon {
          width: 19px;
          height: 16px;
        }
        &:hover,
        &.act {
          .icon {
            fill: #E6383C;
            stroke: #E6383C;
          }
        }
      }
    }
    .content {
      height: 104px;
      padding: 12px 16px 16px 16px;
      h3 {
        font-size: 14px;
        line-height: 129%;
        padding: 0 0 4px 0;
      }
      .tag {
        font-size: 12px;
        line-height: 14px;
      }
      .price {
        font-size: 14px;
        line-height: 17px;
        ins {
          font-size: 18px;
          line-height: 21.6px;
          padding: 4px 0 0 0;
        }
      }
      .discont {
        min-width: 39px;
        font-size: 14px;
        line-height: 17px;
        margin: 0 0 3px 10px;
        padding: 1px 3px;
      }
    }
  }
}

#item-wishlist {
  position: fixed;
  bottom: 16px;
  left: 16px;
  width: 449px;
  z-index: 100;
  .add-item-wishlist {
    width: 100%;
    background: #000000;
    border-radius: 16px;
    display: flex;
    align-items: center;
    padding: 16px;
    margin-top: 16px;
    .image {
      width: 70px;
      height: 100px;
      filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.25));
      border-radius: 12px;
      overflow: hidden;
      img {
        object-fit: cover;
        width: 100%;
      }
    }
    .title {
      margin-left: 18px;
      width: 263px;
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 125%;
      color: #FFFFFF;
    }
    a {
      position: absolute;
      top: 22px;
      right: 16px;
      .icon {
        fill: #FFFFFF;
        width: 9px;
        height: 9px;
      }
    }
  }
}

@include breakpoint2($min:xl, $max:'') {}

@include breakpoint2($min:lg, $max:xl) {}

@include breakpoint2($min:md, $max:lg) {}

@include breakpoint2($min:sm, $max:md) {}

@include breakpoint2($min:xs, $max:sm) {}

@include breakpoint2($min:'', $max:xs) {}