/*======================================
  Sidebar structure
======================================*/

.sidebar-cart,
.sidebar-checkout {
  .sticky {
    position: sticky;
    top: 20px;
  }
  .box {
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    padding: 30px;
    position: relative;
    .backtotop {
      font-style: normal;
      font-weight: 600;
      font-size: 10px;
      line-height: 12px;
      color: #2D2D2D;
      position: absolute;
      top: 16px;
      right: 17px;
    }
    h5 {
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 24px;
      color: #2D2D2D;
      padding: 0 0 24px 0;
    }
    .product-list {
      margin: 0 0 24px -1px;
      @include columns( $quant: 1fr 1fr 1fr, $gutter: 24px 20px, $align: stretch, $template: '');
      li {
        .product {
          width: 100px;
          background: transparent;
          .image {
            width: 100px;
            height: 145px;
            background-color: red;
            position: relative;
            border-radius: 8px;
            overflow: hidden;
            .quant {
              background: #151515;
              border-radius: 0 0 0 8px;
              position: absolute;
              top: 0;
              right: 0;
              font-style: normal;
              font-weight: 700;
              font-size: 14px;
              line-height: 17px;
              color: #FFFFFF;
              padding: 3px 7px;
            }
          }
          .price {
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            padding: 8px 0 0 0;
            text-align: center;
            display: block;
            color: #2D2D2D;
          }
        }
      }
    }
    .total-list {
      border-top: 1px solid #E0E0E0;
      border-bottom: 1px solid #E0E0E0;
      padding: 9px 0 24px 0;
      li {
        display: flex;
        justify-content: space-between;
        align-items: start;
        padding: 15px 0 0px 0;
        span {
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 19px;
          color: #2D2D2D;
          display: block;
        }
        div {
          &.align-left {
            text-align: left;
          }
          &.align-right {
            text-align: right;
          }
          span {
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 19px;
            color: #FE6F00;
            &.small {
              font-size: 14px;
              line-height: 17px;
              color: #2D2D2D;
              padding-top: 3px;
            }
          }
        }
        &:last-child {
          margin: 25px 0 0 0;
          border-top: 1px solid #E0E0E0;
          padding-top: 25px;
          div {
            span {
              font-size: 18px;
              line-height: 22px;
              &.small {
                font-size: 14px;
                line-height: 17px;
              }
            }
          }
        }
      }
    }
    .gift-card {
      width: 100%;
      border-bottom: 1px solid #E0E0E0;
      padding: 15px 0 14px 0;
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 19px;
      text-align: center;
      color: #FE6F00;
      display: block;
    }
    .btn {
      margin: 24px 0 0 0;
      width: 100%;
      height: 50px;
      border-radius: 25px;
      border: none;
      font-family: 'Lato';
      font-style: normal;
      font-weight: 900;
      font-size: 20px;
      line-height: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #FFFFFF;
      &.red {
        background: #C41818;
      }
      &.orange {
        background: $color-orange;
      }
      &.gray {
        background: #656565;
      }
    }
    .modal-warning {
      display: none;
      width: 100%;
      height: 78px;
      background: #000000;
      border-radius: 12px;
      padding: 20px 21px;
      margin-top: 11px;
      position: relative;
      &::before {
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 11px 16px 11px;
        border-color: transparent transparent #000000 transparent;
        position: absolute;
        top: -7px;
        left: 50%;
        margin: 0 0 0 -11px;
      }
      p {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        color: #FFFFFF;
        b {
          color: #FE6F00;
          font-weight: 700;
        }
      }
    }
    .payments-list {
      display: flex;
      padding: 24px 0 0 0;
      gap: 8px;
      li {
        img {
          width: 50px;
          height: 30px;
        }
      }
    }
    .payments-text {
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      line-height: 17px;
      display: flex;
      align-items: center;
      text-align: center;
      justify-content: center;
      color: #2D2D2D;
      gap: 8px;
      padding: 16px 0 0 0;
      .icon {
        width: 8px;
        height: 10px;
      }
    }
    .accept-the-terms {
      padding: 16px 0 0 0;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      text-align: center;
      color: #656565;
      a {
        color: #005AAA;
      }
    }
  }
  .back-to-shop {
    height: 51px;
    background: #FFFFFF;
    border-radius: 12px;
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FE6F00;
    margin: 30px 0 0 0;
  }
}

@include breakpoint2($min:xl, $max:'') {}

@include breakpoint2($min:lg, $max:xl) {}

@include breakpoint2($min:md, $max:lg) {}

@include breakpoint2($min:sm, $max:md) {}

@include breakpoint2($min:xs, $max:sm) {}

@include breakpoint2($min:'', $max:xs) {}