/*======================================
  Lists
======================================*/

.item-prod {
  width: 276px;
  height: 554px;
  background: $color-white;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  .image {
    width: 276px;
    height: 368px;
    border-radius: 12px 12px 0px 0px;
    background-color: red;
    .tags {
      display: inline-flex;
      flex-direction: column;
      padding: 16px;
      .tag {
        min-width: 56px;
        height: 20px;
        border-radius: 4px;
        padding: 3px 6px;
        margin-bottom: 8px;
        color: $color-white;
        display: inline-block;
        font-style: normal;
        font-weight: 800;
        font-size: 12px;
        line-height: 14px;
        text-align: center;
        &.pre-order {
          background: #F45008;
        }
        &.in-stock {
          background: $color-dark-orange;
        }
        &.sale {
          background: $color-black;
          color: $color-dark-orange;
        }
        &.sold-out {
          background: #151515;
        }
      }
    }
  }
  .content {
    height: 186px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 16px 20px 20px 20px;
    .d-flex {
      display: flex;
      align-items: end;
    }
    h3 {
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 125%;
      color: #2D2D2D;
      padding: 0 0 4px 0;
    }
    .tag {
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      color: #656565;
    }
    .price {
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      color: #656565;
      display: inline;
      ins {
        font-weight: 700;
        font-size: 22px;
        line-height: 26.4px;
        color: #2D2D2D;
        text-decoration: none;
        display: block;
        padding: 4px 0 0 0;
      }
    }
    .discont {
      min-width: 41.23px;
      text-align: center;
      font-style: normal;
      font-weight: 900;
      font-size: 15px;
      line-height: 18px;
      color: $color-white;
      background: $color-dark-orange;
      border-radius: 2px;
      margin: 0 0 3px 11px;
      padding: 1px 3px;
    }
  }
}

@include breakpoint2($min:xl, $max:'') {}

@include breakpoint2($min:lg, $max:xl) {}

@include breakpoint2($min:md, $max:lg) {}

@include breakpoint2($min:sm, $max:md) {}

@include breakpoint2($min:xs, $max:sm) {}

@include breakpoint2($min:'', $max:xs) {}